{% load static %}
<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>

<body>

  <div class="topnav">
    <a class="active" href="/Airport">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow">
    <h1 class="centered">UPDATE A TEST</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>

 <table border="solid">
   <tr>
     <th> FFA NUMBER </th>
     <th> TEST NAME </th>
     <th> MAX SCORE </th>
     <th> MODEL NUMBER </th>
     <th> UPDATE </th>
     <th> DELETE </th>
   </tr>
  {% for result in results %}
    <tr>
        <td>{{ result.ffa_num }}</td>
        <td>{{ result.name }}</td>
        <td>{{ result.max_score }}</td>
        <td>{{ result.modelnumber }}</td>
        <td><a href="/Airport/updateTest/{{ result.ffa_num }}">UPDATE</a></td>
        <td><a href="123456789">DELETE</a></td>
    </tr>
	  {% endfor %}
  </table>


</body>

</html>
