{% load static %}
<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>

<body>

  <div class="topnav">
    <a class="active" href="admin-home.html">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="Airport.jpg" width=100% height="300" alt="Snow">
    <h1 class="centered">ADD UNION</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>
  
  <form class="container" onSubmit = "write" action="write.html" method="POST">

    <div>
      <label>UNION NUMBER</label>
      <input type="text" name="UNIONNUMBER" id="unionnumber" placeholder="Enter Union Number">
    </div>
    <div>
      <label>UNION NAME</label>
      <input type="text" name="UNION NAME" id="unionname" placeholder="Enter Union Name">
    </div>
   
   
    <div>
      <button>Submit Union</button>
    </div>
  </form>



</body>

</html>
