{% load static %}
<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>

<body>

  <div class="topnav">
    <a class="active" href="admin-home.html">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow">
    <h1 class="centered">MANAGE TEST</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>
  
  <form class="container"  method="POST">{% csrf_token %}
    <div>
      <label>FFANUM</label>
      <input type="text" name="FFANUM" id="ffanum" placeholder="Enter FFA No.">
    </div>
    <div>
      <label>NAME</label>
      <input type="text" name="NAME" id="name" placeholder="Enter Name">
    </div>
        <div>
      <label>MAXSCORE</label>
      <input type="text" name="MAXSCORE" id="maxscore" placeholder="Enter Max Score"">
    </div>
    <div>
      <label>MODELNUMBER</label>
      <input type="text" name="MODELNUMBER" id="modelnumber" placeholder="Enter Model number"">
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>



</body>

</html>
