{% load static %}
<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>

<body>

  <div class="topnav">
    <a class="active" href="/Airport">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow">
    <h1 class="centered">VIEW MEMBERS IN A UNION</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>

  <table>
    <tr>
        <th>SSN</th>
        <th>UNION NUMBER</th>
        <th>MEMBERSHIP NUMBER</th>
        <th>DELETE</th>
    </tr>
    {% for result in results %}
      <tr>
      <td>{{ result.ssn }}</td>
      <td>{{ result.union_num }}</td>
      <td>{{ result.mem_num }}</td>
      <td><a href="/Airport/deleteUniMem/{{ result.ssn }}/{{ result.union_num }}/{{ result.mem_num }}">DELETE</a></td>
      </tr>
      {% endfor %}
    </table>


</body>

</html>
