{% load static %}
<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style2.css' %}">
</head>

<body>

  <div class="topnav">
    <a class="active" href="/Airport">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow">
    <h1 class="centered">ADD MEMBERSHIP INFO</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>

  <form class="container" method="POST"> {% csrf_token %}

    <div>
        <label>UNION NUMBER</label>
        <select name="unionnumber" id="unionnumber">
          {% for unions in union %}
          <option value="{{ unions.union_num }}">{{ unions.union_num }}</option>   <!--UPDATE TO POPULATE DATA I DROPDOWN -->
          {% endfor %}
        </select>
    </div>
    <div>
      <label>MEMBERSHIP</label>
      <input type="text" name="MEMBERSHIP" id="membership" placeholder="Enter Membership Number">
    </div>
    <div>
      <label>SSN</label>
      <select name="SSN" id="ssn">
        {% for ssns in ssn %}
            <option value="{{ ssns.ssn }}">{{ ssns.ssn }}</option>  <!--UPDATE TO POPULATE DATA I DROPDOWN -->
        {% endfor %}
      </select>

    </div>


    <div>
      <button>Submit</button>
    </div>
  </form>



</body>

</html>
