{% load static %}
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>
<body>

<div class="topnav">
  <a class="active" href="/Airport">Home</a>
  <div class="topnav-right">
    <a href="#Profile">Profile</a>
    <a href="logout">Logout</a>
  </div>
</div>

<div class="container">
  <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow" >
  <h1 class="centered">AIRPORT MANAGEMENT SYSTEM</h1>
    <div class="top-left">ADMIN</div>
</div>

<h2 style="color: #084e47; text-align: center">Quick Tasks</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="bestscore/"> <button class="button button1">Best Score</button> </a>
<a href="testdelay/"> <button class="button button1">Test Delay</button> </a>
<button class="button button1">Number of Technicians: {{ result }}</button>
</div>

<h2 style="color: #084e47; text-align: center">Employee</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="AddEmployee/"> <button class="button button1">Add Employee</button> </a>
<a href="viewEmp/"> <button class="button button1">View Employee</button> </a>
</div>


<h2 style="color: #084e47; text-align: center">FFA Tests</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="AddTest/"> <button class="button button1">Add Test</button> </a>
    <a href="admin-managetestdel.html"> <button class="button button1">Delete Test</button> </a>
<a href="viewTest/"> <button class="button button1">Manage Test</button> </a>
</div>



<h2 style="color: #084e47; text-align: center">Test Records</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-TRdelete.html"> <button class="button button1">Delete Test Records</button> </a>
<a href="viewTR/"> <button class="button button1">Manage Test Records</button> </a>
</div>



<h2 style="color: #084e47; text-align: center">Unions</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="AddUnion/"> <button class="button button1">Add Union</button> </a>
<a href="admin-uniondel.html"> <button class="button button1">Delete Union</button> </a>
<a href="viewUnion/"> <button class="button button1">Manage Union</button> </a>
</div>

<h2 style="color: #084e47; text-align: center">Union Members</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="/Airport/addUnionMember"> <button class="button button1">Add Union Members </button> </a>
<a href="/Airport/viewMemberShip"> <button class="button button1">View Union Members</button> </a>
</div>


<h2 style="color: #084e47; text-align: center">Add Plane Records</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="/Airport/addPlane"> <button class="button button1">Add Plane Records</button> </a>
</div>


<h2 style="color: #084e47; text-align: center">Add Model Records</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="/Airport/addModel"> <button class="button button1">Add Model Records</button> </a>
</div>


</body>
</html>
