{% load static %}
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>
<body>

<div class="topnav">
  <a class="active" href="admin-home.html">Home</a>
  <div class="topnav-right">
    <a href="#Profile">Profile</a>
    <a href="#Logout">Logout</a>
  </div>
</div>

<div class="container">
  <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow" >
  <h1 class="centered">AIRPORT MANAGEMENT SYSTEM</h1>
    <div class="top-left">ADMIN</div>
</div>



<h2 style="color: #084e47; text-align: center">Manage Employee</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="AddEmployee/"> <button class="button button1">Add Employee</button> </a>
<a href="admin-updateemp.html"> <button class="button button1">Update Employee</button> </a>
<a href="admin-deleteemp.html"> <button class="button button1">Delete Employee</button> </a>
<a href="viewEmp/"> <button class="button button1">View Employee</button> </a>
</div>


<h2 style="color: #084e47; text-align: center">Manage FFA Tests</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-managetest.html"> <button class="button button1">Add Test</button> </a>
<a href="admin-managetestupdate.html"> <button class="button button1">Update Test</button> </a>
<a href="admin-managetestdel.html"> <button class="button button1">Delete Test</button> </a>
</div>



<h2 style="color: #084e47; text-align: center">Manage Test Records</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-TRdelete.html"> <button class="button button1">Delete Test Records</button> </a>
<a href="admin-TRupdate.html"> <button class="button button1">Update Test Records</button> </a>
<a href="admin-TRview.html"> <button class="button button1">View Test Records</button> </a>
</div>



<h2 style="color: #084e47; text-align: center">Manage Unions</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-union.html"> <button class="button button1">Add Union</button> </a>
<a href="admin-unionupdate.html"> <button class="button button1">Update Union</button> </a>
<a href="admin-uniondel.html"> <button class="button button1">Delete Union</button> </a>
<a href="admin-unionview.html"> <button class="button button1">View Union</button> </a>
</div>

<h2 style="color: #084e47; text-align: center">Manage Union Members</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-unionmembership.html"> <button class="button button1">Add Union Members </button> </a>
<a href="admin-unionmemberupdate.html"> <button class="button button1">Update Union Members</button> </a>
<a href="admin-unionmemberdel.html"> <button class="button button1">Delete Union Members</button> </a>
<a href="admin-unionmemberview.html"> <button class="button button1">View Union Members</button> </a>
</div>


<h2 style="color: #084e47; text-align: center">Add Plane Records</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-addplane.html"> <button class="button button1">Add Plane Records</button> </a>
</div>


<h2 style="color: #084e47; text-align: center">Add Model Records</h2>

<div class="h-500 center-v center-h btn-group" style="width:100%">
<a href="admin-addmodel.html"> <button class="button button1">Add Model Records</button> </a>
</div>


</body>
</html>
