<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="Style2.css">
</head>

<body>

  <div class="topnav">
    <a class="active" href="admin-home.html">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="Airport.jpg" width=100% height="300" alt="Snow">
    <h1 class="centered">MANAGE TEST</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>
  
  <form class="container" onSubmit = "write" action="write.html" method="POST">

    <div>
      <label>FFA NUMBER</label>
      <input type="text" name="FFANUMBER" id="ffanumber" placeholder="Enter FFA Number">
    </div>
    <div>
      <label>TEST NAME</label>
      <input type="text" name="TNAME" id="tname" placeholder="Enter Test Name">
    </div>
   
   
    <div>
      <button>Submit Test</button>
    </div>
  </form>



</body>

</html>