<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="Style2.css">
</head>

<body>

  <div class="topnav">
    <a class="active" href="admin-home.html">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="Airport.jpg" width=100% height="300" alt="Snow">
    <h1 class="centered">UPDATE MEDICAL INFORMATION</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>
<form class="container" onSubmit = "write2" action="write.html" method="POST">

    <div>
      <label>MODEL NUMBER</label>
      <input type="text" name="EXAMDATE" id="medexamdate" placeholder="Enter Most Recent Medical Exam Date">
    </div>
   
    <div>
      <button>Submit Model</button>
    </div>
  </form>




</body>

</html>
