{% load static %}
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style2.css' %}">
</head>
<body>

<div class="topnav">
  <a class="active" href="atc-home.html">Home</a>
  <div class="topnav-right">
    <a href="/Airport/UpdateProfile">Profile</a>
    <a href="#Logout">Logout</a>
  </div>
</div>

<div class="container">
  <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow" >
  <h1 class="centered">AIRPORT MANAGEMENT SYSTEM</h1>
    <div class="top-left">AIR TRAFFIC CONTROLLER</div>
</div>


<div class="h-500 center-v center-h btn-group" style="width:100%">
  <a href="/Airport/ATC-Status"> <button class="B1" style="height:80px;width:400px">VIEW MONITORING STATS</button> </a>
  <a href="/Airport/ATC-CURRENT"> <button style="height:80px;width:400px">CURRENT MONITORING PLANES</button> </a>
</div>

&nbsp; 


<div class="h-500 center-v center-h btn-group" style="width:100%">
  <a href="/Airport/ATC-MEDICAL"> <button class="B1" style="height:80px;width:400px">UPDATE MEDICAL INFORMATION</button> </a>
  <a href="/Airport/ATC-MONITOR"> <button style="height:80px;width:400px">ADD MONITOR DETAILS</button> </a>
</div>



</body>
</html>
