{% load static %}
<!Doctype html>
<html>

<head>
  <link rel="stylesheet" href="Style2.css">
</head>

<body>

  <div class="topnav">
    <a class="active" href="{% static 'mainApp/styles/Style.css' %}">Home</a>
    <div class="topnav-right">
      <a href="#Profile">Profile</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <img src="Airport.jpg" width=100% height="300" alt="Snow">
    <h1 class="centered">ADD THE PLANES YOU ARE MONITORING</h1>
    <div class="top-left">AIRPORT MANAGEMENT SYSTEM</div>
  </div>



</body>

</html>
