{% load static %}
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>
<body>

<div class="topnav">
  <a class="active" href="tech-home.html">Home</a>
  <div class="topnav-right">
    <a href="/Airport/UpdateProfile">Profile</a>
    <a href="logout">Logout</a>
  </div>
</div>

<div class="container">
  <img src="{% static 'mainApp/images/Airport.jpg' %}" width=100% height="300" alt="Snow" >
  <h1 class="centered">AIRPORT MANAGEMENT SYSTEM</h1>
    <div class="top-left">TECHNICIAN</div>
</div>


<div class="h-500 center-v center-h btn-group" style="width:100%">
  <a href="techaddTR"> <button class="B1" style="height:80px;width:400px">ADD TEST RECORDS</button> </a>
  <a href="techTR"> <button class="B1" style="height:80px;width:400px">VIEW TEST RECORDS</button> </a>
  <a href="techexp"> <button style="height:80px;width:400px">EXPERTISE INFORMATION</button> </a>
</div>

&nbsp; 


<div class="h-500 center-v center-h btn-group" style="width:100%">
  <a href="techaddexp"> <button class="B1" style="height:80px;width:400px">ADD EXPERTISE</button> </a>
</div>



</body>
</html>
