{% load static %}
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'mainApp/styles/Style.css' %}">
</head>
<body>

<div class="topnav">
  <a class="active" href="admin-home.html">Home</a>
  <div class="topnav-right">
    <a href="#Profile">Profile</a>
    <a href="#Logout">Logout</a>
  </div>
</div>

<div class="container">
  <img src="Airport.jpg" width=100% height="300" alt="Snow" >
  <h1 class="centered">AIRPORT MANAGEMENT SYSTEM</h1>
    <div class="top-left">ADMIN</div>
</div>


<div class="h-500 center-v center-h btn-group" style="width:100%">
  <a href="admin-me.html"> <button class="B1" style="height:80px;width:400px">MANAGE EMPLOYEE</button> </a>
  <a href="admin-mt.html"> <button style="height:80px;width:400px">MANAGE TEST</button> </a>
</div>

&nbsp; 


<div class="h-500 center-v center-h btn-group" style="width:100%">
  <a href="admin-mpr.html"> <button class="B1" style="height:80px;width:400px">MANAGE PLANE RECORDS</button> </a>
  <a href="admin-mtr.html"> <button style="height:80px;width:400px">MANAGE TEST RECORDS</button> </a>
</div>



</body>
</html>
